@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*Fonts*/
    $font-1: 700 24px 'Kumbh Sans', sans-serif;
    $font-2: 400 18px 'Kumbh Sans', sans-serif;
/*Colors*/
    $color-bkg-main: hsl(185, 75%, 39%);
    $color-txt-h: hsl(229, 23%, 23%);
    $color-txt-p: hsl(227, 10%, 46%);
    $color-bkg-sec: hsl(0, 0%, 59%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    position: relative;
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg), $color-bkg-main;
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    .attribution{
        position:absolute;
        bottom: 0;
    }
}
.main_container{
    background-color: white;
    width: 30rem;
    height: 31rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .hero_container{
        width: 100%;
        height: 75%;
        background: url(../images/bg-pattern-card.svg), white;
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-position-y: top;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .hero_img{
            border-radius: 50%;
            overflow: hidden;
            border: 7px solid white;
            width: 9rem;
            height: 9rem;
            img{
                width: 100%;
            }
        }
        .hero_info{
            position: absolute;
            bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font: $font-1;
                color: $color-txt-h;
                span{
                    font: $font-2;
                    font-size: 24px;
                    color: $color-txt-p;
                    margin-left: 0.5rem;
                }
            }
            p{
                font: $font-2;
                color: $color-txt-p;
                margin: 0.5rem;
            }
        }
    }
    .info_container{
        width: 100%;
        height: 25%;
        border-top: 1px solid $color-bkg-sec;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 6% 0;
        .item-info{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-evenly;
            h2{
                font: $font-1;
                color: $color-txt-h;
            }
            p{
                font: $font-2;
                color: $color-txt-p;
                font-size: 14px;
                letter-spacing: 0.1em;
            }
        }
    }
}
@media only screen and (max-width: 500px){
    .main_container{
        max-width: 20rem;
    }
}
